<nav class="pa3 pa4-ns bg-dark-blue avenir">
    <a class="link dim white b f6 f5-ns dib mr3" href="{% url 'index' %}" title="Home"> The OtterSide</a>
    <a class="link dim white    f6 f5-ns dib mr3" href="{% url 'index' %}" title="Home">Home</a>
    <a class="link dim white    f6 f5-ns dib mr3" href="#" title="#">Placeholder</a>
    <a class="link dim white   f6 f5-ns dib mr3" href="#" title="About">Placeholder</a>
    <a class="link dim white    f6 f5-ns dib" href="#" title="Contact">Placeholder</a>
</nav>