{% extends "base.html" %}



{% block sidebar %}

{% include "snippets/sidebar.html" %}

{% endblock %}


{% block content %}
{% load crispy_forms_tags %}


{% if request.user.is_authenticated %}
<div class='center tc avenir'>
<h1>Create/Edit Your Snippet</h1>
    <form method="POST" class="post-form center tl w-80">{% csrf_token %}
        {{form|crispy}}
        <button class= "f3 link dim br3 ph3 pv2 mb2 dib white bg-dark-blue" type="submit">Done</button>
    </form>
{% elif request.user.is_authenticated %}
    <p>You are not authorized to add a snippet for this user.</p>
    {% else %}
    <ul style="list-style: none;">
        <li>
            <a href="{% url 'auth_login' %}">Login to Continue</a>
        </li>
        <li>
            <a href="{% url 'registration_register' %}">Register to create a snippet</a>
        </li>
    </ul>
</div>
{% endif %}
{% endblock %}