{% extends 'base.html' %}

{% block content %}
{% comment %}
<hr>
<div id="searchDiv">
<h2 id="searchHeader">Search Results: </h2>
</div>
<br>
<div id="searcResults">
  <div id="search"></div>
</div>
<hr>
{% endcomment %}

<h1>Snippets</h1>
    {% if user.is_authenticated %}
  <div class='tc center avenir w-70'>
      {% for obj in list_of_snippets %}
        <div class='ba bg-blue white'>
          <p><strong> {{obj.title}}</strong></p>
          <a class='f6 link mt5 dim br3 ph3 pv2 mb2 dib white bg-dark-blue' href="{{ obj.get_absolute_url }}">Edit</a>
          <a class="f6 link mt5 dim br3 ph3 pv2 mb2 dib white bg-dark-blue" href="{% url 'add_snippet' %}">Add New</a>
          {% comment %} <a class="f6 link mt5 dim br3 ph3 pv2 mb2 dib white bg-dark-blue" href="{% url 'delete_snippet' %}">Delete</a> {% endcomment %}

        </div>
        <div>
          <p>added {{obj.date_added}}</p>
      </div>
        <div>
          <p> Language: {{obj.languages}}</p>
        </div>
        <div>
        <pre><code class='language-js'>
          <p>{{obj.code }}</p>
        </code></pre>
        </div>
      {% endfor %}
 </div>

 {% else %}
 
 <div>
  {% load static %}
  <img class= "br3" src="{% static "images/otter.png" %}" alt="Otter waving">
 </div>


 {% endif %}

{% endblock %}