{% extends 'base.html' %}

{% block content %}

<h1>Snippets</h1>
    {% if user.is_authenticated %}
  <div class='tc center avenir w-70'>
      {% for obj in list_of_snippets %}
        <div class='ba bg-blue white'>
          <p><strong> {{obj.snippet_title}}</strong></p>
        </div>
        <div>
          <p> Language: {{obj.snippet_lang}}</p>
        </div>
        <div>
          <p>{{obj.snippet_code }}</p>
        </div>
      {% endfor %} 
      <a class="f5 link mt5 dim br3 ph3 pv2 mb2 dib white bg-dark-blue" href="#">Add Snippet</a>
 </div>

 {% else %}
 
 <div>
  {% load static %}
  <img class= "br3" src="{% static "images/otter.png" %}" alt="Otter waving">
 </div>


 {% endif %}

{% endblock %}